//-----------------------------Pagination-------------------//

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__item {
    border-radius: 4px;
    border: 1px solid var(--grey);
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-2);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.18px;

    @media (max-width: 479px) {
      font-size: 16px;
      width: 40px;
      height: 40px;
    }

    @media (max-width: 340px) {
      width: 32px;
      height: 32px;
      font-size: 12px;
    }

    &:hover {
      background: var(--white-2);
    }

    &:not(:last-child) {
      margin-right: 20px;

      @media (max-width: 479px) {
        margin-right: 8px;
      }

      @media (max-width: 340px) {
        margin-right: 4px;
      }
    }

    &._active {
      background-color: var(--red);
      color: var(--white-3);
      border-color: var(--red);
    }

    &._disactive {
      display: none;
    }
  }

  &__left {
  }

  &__right {
  }

  &__icon {
    font-size: 16px;

    @media (max-width: 340px) {
      font-size: 12px;
    }
  }

  &__dots {
    align-items: flex-end;
    border: none;

    &:hover {
      background-color: transparent;
    }
  }

  &__number {
  }

  &__arrow {
    &:disabled {
      &:hover {
        color: var(--black-2);
      }
    }
    &:hover {
      background-color: transparent;
      color: var(--red);
    }
  }
}
