.review-popup {
    padding: 80px 48px;
    margin: 0 15px;

    @media (max-width: 767px) {
    padding: 80px 32px;
}
    @media (max-width: 380px) {
    padding: 80px 24px;
}

        &__close {
            position: absolute;
            top: 38px;
            right: 53px;
           @media (max-width: 767px) {
    right: 26px;
}
        }

        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 32px;

            .comments__stars {
                font-size: 56px;
                margin-bottom: 16px;
                 @media (max-width: 767px) {
                font-size: 44px;
            }
                 @media (max-width: 767px) {
                font-size: 32px;
            }
            }
        }

        &__title {
            font-size: 24px;
            font-weight: 500;
        }

        .btn {
            min-width: 185px;
            padding: 16px;
        }
}