//--------------------------------SIDEBAR SECTION-------------//

.sidebar {
  position: fixed;
  right: 0;
  bottom: 20px;
  z-index: 1000;

  @media (max-width: 992px) {
    // top: 98%;
    // transform: translateY(-100%);
  }
  // .sidebar__body

  &__body {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
  }

  // .sidebar__social

  &__social {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 5px;
    background-color: var(--white);
    box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.23);
    padding: 24px 14px;
    margin-bottom: 7px;

    @media (max-width: 1200px) {
      padding: 16px 10px;
      margin-bottom: 4px;
    }

    @media (max-width: 767px) {
      padding: 8px 8px;
      margin-bottom: 4px;
    }

    &._hide {
      display: none;
    }
  }

  // .sidebar__item

  &__item {
    display: block;
    width: 32px;
    height: 32px;

    @media (max-width: 1200px) {
      width: 24px;
      height: 24px;
    }

    @media (max-width: 479px) {
      width: 16px;
      height: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 32px;

      @media (max-width: 1200px) {
        margin-bottom: 24px;
      }

      @media (max-width: 479px) {
        margin-bottom: 16px;
      }
    }
  }

  &__icon {
    font-size: 28px;
    color: var(--white-3);
    border-radius: 10px;
    background: var(--blue, #005254);
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 1200px) {
      font-size: 16px;
      padding: 12px;
    }

    @media (max-width: 479px) {
      font-size: 14px;
      padding: 8px;
      width: 30px;
      height: 30px;
    }
  }
  // .sidebar__chat

  &__chat {
    margin-bottom: 7px;
    @media (max-width: 1200px) {
      margin-bottom: 4px;
    }
  }

  // .sidebar__up

  &__up {
  }
}
