.contacts {
    padding: 45px 125px 138px;
    min-height: 70vh;

    @media (max-width: 1200px) {
        padding-left: 70px;
        padding-right: 70px;
    }
     @media (max-width: 992px) {
        padding-left: 0;
        padding-right: 0;
     }
       @media (max-width: 767px) {
        padding: 32px 0;
       }
       @media (max-width: 380px) {
        padding: 24px 0;
       }

    &__title {
        font-weight: 700;
        font-size: 32px;
        margin-right: 32px;
        flex: 1 0 auto;
         @media (max-width: 380px) {
       font-size: 24px;
       }
    }

    &__content {
        display: grid;
        gap: 160px;
        grid-template-columns: 1fr 412px;
          @media (max-width: 1200px) {
            gap: 45px;
            }
            @media (max-width: 992px) {
            grid-template-columns: repeat(2, 1fr);
            }
            @media (max-width: 767px) {
    grid-template-columns: repeat(1, 1fr);
            }
    }
}