.popup-buttons {
    position: fixed;
    bottom: 46px;
    right: 15px;
    display: none;
    flex-direction: column;
    gap: 12px;
    @media (max-width: 767px) {
        display: flex;
    }

    &__item {
        width: 56px;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        border: 1px solid var(--red);
        background-color: var(--white-3);
        box-shadow: 0px 0px 21px 0px #0000003B;
        color: var(--red);
       font-size: 18px;
        @media (max-width: 479px) {
            width: 40px;
            height: 40px;
       }
    }
    
}
