.gallery-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  z-index: 9999;
  padding: 96px 0;
  display: none;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  overflow-y: scroll;

  @media (max-width: 992px) {
    padding: 64px 0;
  }

  &._open {
    display: flex;
  }

  &__close {
    font-size: 24px;
    color: var(--grey);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 40px;
    top: 40px;

    @media (max-width: 992px) {
      right: 32px;
      top: 32px;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 98px;
    padding: 0 92px 0 40px;

    @media (max-width: 767px) {
      flex-direction: column;
      margin-top: 55px;
      padding: 0 16px 0 16px;
    }

    @media (max-width: 479px) {
      margin-top: 24px;
    }
  }

  &__title {
    color: var(--black-2);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.16px;
    flex: 0 0 33%;

    @media (max-width: 992px) {
      flex: 0 0 45%;
    }

    @media (max-width: 767px) {
      text-align: center;
      margin-bottom: 16px;
    }
  }

  &__btn {
    @media (max-width: 479px) {
      width: 100%;
    }
  }

  .product-page__slider {
    margin: 0 auto;
    width: max-content;
    position: relative;
  }

  .product-page__pagination {
    position: absolute;
    top: 184px;

    @media (max-width: 320px) {
      top: 112px;
    }
  }

  .product-page__arrow {
    transform: translate(0);

    @media (max-width: 320px) {
      padding: 4px;
    }
  }
  .product-page__arrow-prev {
    left: -94px;
    @media (max-width: 992px) {
      left: -42px;
    }
    @media (max-width: 992px) {
      left: -3px;
    }

    @media (max-width: 320px) {
      left: 4px;
    }
  }
  .product-page__arrow-next {
    right: -94px;
    @media (max-width: 992px) {
      right: -42px;
    }
    @media (max-width: 992px) {
      right: -3px;
    }
    @media (max-width: 320px) {
      right: 4px;
    }
  }

  .product-page__main-img {
    width: 409px;
    height: 409px;
    margin-bottom: 64px;

    @media (max-width: 992px) {
      margin-bottom: 48px;
      padding-bottom: 65%;
      position: relative;

      img {
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    @media (max-width: 767px) {
      width: 365px;
      height: 365px;
      margin-bottom: 32px;
      padding-bottom: 77%;
    }

    @media (max-width: 479px) {
      width: 300px;
      height: 300px;
      padding-bottom: 87%;
    }

    @media (max-width: 479px) {
      width: 280px;
      height: 280px;
    }
  }

  .product-page__list-img {
    max-width: 741px;

    @media (max-width: 992px) {
      max-width: 595px;
    }

    @media (max-width: 767px) {
      max-width: 442px;
    }

    @media (max-width: 479px) {
      max-width: 232px;
      margin: 0 8px;
    }
  }

  .product-page__small-img {
    width: 129px;
    height: 129px;
    flex: 0 0 129px;

    @media (max-width: 992px) {
      width: 100px;
      height: 100px;
      flex: 0 0 100px;
    }

    @media (max-width: 767px) {
      width: 72px;
      height: 72px;
      flex: 0 0 72px;
    }

    @media (max-width: 479px) {
      padding: 5px;
    }

    &:not(:last-child) {
      margin-right: 24px;

      @media (max-width: 992px) {
        margin-right: 16px;
      }

      @media (max-width: 479px) {
        margin-right: 8px;
      }
    }

    &:last-child,
    &:first-child,
    &:nth-child(7) {
      opacity: 1;
      width: 129px;
      height: 129px;
      flex: 0 0 129px;

      @media (max-width: 992px) {
        width: 100px;
        height: 100px;
        flex: 0 0 100px;
      }

      @media (max-width: 767px) {
        width: 72px;
        height: 72px;
        flex: 0 0 72px;
      }
    }
  }
}
