.pre-order {
  .modal__body {
    @media (max-width: 390px) {
      margin: 0 20px;
    }
  }

  .modal__close {
    top: 24px;
    right: 24px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 80px 75px;
    max-width: 480px;

    @media (max-width: 767px) {
      padding: 80px 40px;
    }
    @media (max-width: 479px) {
      padding: 80px 30px;
    }
    @media (max-width: 390px) {
      padding: 80px 16px;
    }
  }

  &__complete {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 64px;
    max-width: 516px;

    @media (max-width: 767px) {
      padding: 36px;
    }
    @media (max-width: 479px) {
      padding: 24px;
    }
  }

  // .pre-order__title

  &__title {
    color: var(--black-2);
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 28px;
  }

  // .pre-order__form

  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 24px;
  }

  // .pre-order__counter

  &__counter {
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .counter {
      justify-content: flex-start;
    }

    .counter__value {
      margin: 0 8px;
      input {
        width: inherit;
        padding: 11px 3px;
        text-align: center;
      }
    }
  }

  // .pre-order__label

  &__label {
    color: var(--grey);
    font-size: 14px;
    letter-spacing: 0.14px;
    margin-bottom: 8px;
  }

  // .pre-order__inputs-area

  &__inputs-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 8px;
    margin-bottom: 48px;
  }

  // .pre-order__input

  &__input {
    border-radius: 5px;
    border: 1px solid var(--grey);
    padding: 16px 12px;
    color: var(--grey);
    font-size: 14px;
    letter-spacing: 0.14px;
    min-width: 282px;

    @media (max-width: 390px) {
      min-width: 230px;
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  // .pre-order__btn

  &__btn {
    align-self: center;
  }

  &__complete {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  // .pre-order__text

  &__text {
    color: var(--grey);
    font-size: 14px;
    letter-spacing: 0.14px;
    @media (max-width: 992px) {
    }

    @media (max-width: 767px) {
      max-width: 350px;
      font-size: 12px;
    }

    @media (max-width: 479px) {
      max-width: 306px;
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    &._black {
      font-size: 15px;
      color: var(--black-2);

      @media (max-width: 767px) {
        font-size: 12px;
      }
    }

    ._red {
      color: var(--red);
    }
  }

  // .pre-order__number

  &__number {
    color: var(--blue);
  }
}
