.questions-product {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  // .questions-product__no-question

  &__no-question,
  &__ask-question,
  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &__no-question,
  &__ask-question,
  &__asked {
    display: none;

    &.open {
      display: flex;
    }
  }

  &__ask-question,
  &__form {
    @media (max-width: 479px) {
      width: 100%;
    }
  }

  &__text {
    margin-bottom: 12px;
  }

  &__input {
    border-radius: 5px;
    border: 1px solid var(--grey);
    padding: 16px 12px;
    color: var(--grey);
    font-size: 14px;
    letter-spacing: 0.14px;
    margin-bottom: 24px;
    width: 282px;

    @media (max-width: 479px) {
      width: 100%;
      max-width: 282px;
    }
  }

  &__btn {
    padding: 16px 32px;
  }

  &__popup {
  }
}

.popup-question {
  &__content {
    border-radius: 10px;
    background-color: var(--white-1);
    box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.07);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    padding: 28px 24px;
    width: 388px;

    @media (max-width: 479px) {
      max-width: 350px;
      width: 90vw;
    }
  }
  .modal__close {
    top: 30px;
    right: 24px;
  }

  &__check {
    color: var(--green);
    font-size: 24px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 28px;
    padding-right: 32px;
    width: 100%;
    span {
      display: block;
    }

    ._icon-check {
      margin-right: 8px;
    }
  }

  &__text {
    font-size: 12px;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.24px;
  }
}
