.cart-modal {
  position: absolute;
  top: 100%;
  right: 0;
  transform: translateY(24px);
  padding: 38px 24px 36px 24px;
  background-color: var(--white-1);
  border-radius: 10px;
  z-index: 15;
  box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.07);
  min-width: 718px;
  max-height: 739px;

  &__empty {
    flex-direction: column;
    display: none;

    &._empty {
      display: flex;
    }
  }

  &__row {
    font-size: 12px;
  }

  // .cart-modal__body

  &__body {
    display: flex;
    flex-direction: column;
    padding-bottom: 84px;

    &._empty {
      display: none;
    }
  }

  // .cart-modal__close

  &__close {
    position: absolute;
    top: 46px;
    right: 28px;
    font-size: 24px;
    color: var(--grey);
  }

  // .cart-modal__title

  &__title {
    font-size: 32px;
    font-weight: 700;
    color: var(--black-2);
    margin-bottom: 24px;
  }

  // .cart-modal__list

  &__list {
    padding: 16px 25px 16px 16px;
    display: flex;
    flex-direction: column;
    gap: 34px;
  }

  // .cart-modal__text

  &__text {
    font-size: 15px;
    margin-left: 16px;
  }
}

.total-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.13);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 16;
  background-color: var(--white-1);

  // .total-block__sum

  &__sum {
    display: flex;
    flex-direction: column;
  }

  // .total-block__text

  &__text {
    font-size: 15px;
    margin-bottom: 6px;
  }

  // .total-block__price

  &__price {
    font-size: 24px;
    font-weight: 500;
  }

  // .total-block__btn

  &__btn {
    min-width: 128px;
  }
}
