.basket {
  &__container {
    min-height: 70vh;
    padding-bottom: 140px;
    padding-top: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    @media (max-width: 767px) {
      padding-bottom: 80px;
    }
  }
  &__title {
    font-weight: 700;
    letter-spacing: -0.32px;
    margin-bottom: 24px;
  }
}

.table-basket {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;

  // .table-basket__head

  &__head {
    display: grid;
    grid-template-columns: 114px 1fr 8% 15% 12% 8%;
    gap: 24px;
    width: 100%;
    color: var(--grey);
    font-size: 14px;
    letter-spacing: 0.14px;
    @media (max-width: 992px) {
      display: none;
    }
  }

  // .table-basket__body

  &__body {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (max-width: 992px) {
      display: none;
    }
  }

  &__mobile {
    display: flex;
    flex-direction: column;
    gap: 20px;
    display: none;

    @media (max-width: 992px) {
      display: flex;
    }
  }
}

.info-basket {
  position: sticky;
  bottom: 0px;
  left: 0;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  background: var(--white-3);
  box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.23);

  &__container {
    padding: 24px 0px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    @media (max-width: 992px) {
      flex-direction: column;
      justify-content: flex-start;
      gap: 17px;
    }
  }

  // .info-basket__left

  &__left {
    display: flex;
    flex-direction: column;
  }

  &__right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 24px;

    @media (max-width: 992px) {
      justify-content: space-between;
    }
  }

  // .info-basket__title

  &__title {
    color: var(--black-2);
    line-height: 1.2; /* 122.222% */
    margin-bottom: 24px;

    @media (max-width: 479px) {
      font-size: 16px;
      margin-bottom: 16px;
    }
  }

  // .info-basket__number

  &__number {
    margin-bottom: 12px;

    @media (max-width: 479px) {
      margin-bottom: 8px;
    }
  }

  &__number,
  &__date {
    color: var(--grey);
    font-size: 14px;
    letter-spacing: 0.14px;
  }

  // .info-basket__date

  &__date {
    color: var(--grey-3);
  }

  // .info-basket__total

  &__total {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    letter-spacing: 0.15px;
    gap: 6px;
  }

  // .info-basket__total-price

  &__total-price {
    font-size: 24px;
    font-weight: 500;
  }

  // .info-basket__btn
}
