:root {
  --red: #db322b;
  --red-1: #b6120b;
  --red-pale: #b86565;
  --white: #ffffff;
  --white-1: #e8e8e8;
  --white-2: #e5e0e0;
  --white-3: #f5f5f5;
  --white-4: #fbfbfb;
  --grey: #9f9a9a;
  --grey-1: #ddd9d9;
  --grey-2: #999999;
  --grey-3: #7f7b7b;
  --black: #000;
  --black-1: #434242;
  --black-2: #373737;
  --black-3: #4b4b4b;
  --blue: #005254;
  --lightblue: #B3E1FD;
  --medium-blue: #1982C4;
  --yellow: #ead622;
  --yellow-pale: #f8e191;
  --green: #109c15;
  --lightgreen: #C7FFD4;
  --medium-green: #00A44A;
}
