@font-face {
  font-family: 'icomoon';
  src: url('../img/svg/icons/icomoon.eot?b22ux9');
  src: url('../img/svg/icons/icomoon.eot?b22ux9#iefix') format('embedded-opentype'),
    url('../img/svg/icons/icomoon.ttf?b22ux9') format('truetype'),
    url('../img/svg/icons/icomoon.woff?b22ux9') format('woff'),
    url('../img/svg/icons/icomoon.svg?b22ux9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='_icon-'],
[class*=' _icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-wish-red:before {
  content: '\e909';
}
._icon-exit:before {
  content: '\e900';
}
._icon-copy:before {
  content: '\e901';
}
._icon-star-red:before {
  content: '\e902';
}
._icon-like-red:before {
  content: '\e903';
}
._icon-check:before {
  content: '\e904';
}
._icon-like:before {
  content: '\e905';
}
._icon-dislike:before {
  content: '\e906';
}
._icon-geo:before {
  content: '\e907';
}
._icon-wish:before {
  content: '\e908';
}
._icon-letter:before {
  content: '\e90a';
}
._icon-mail:before {
  content: '\e90b';
}
._icon-minus:before {
  content: '\e90c';
}
._icon-order:before {
  content: '\e90d';
}
._icon-other:before {
  content: '\e90e';
}
._icon-pc:before {
  content: '\e90f';
}
._icon-person:before {
  content: '\e910';
}
._icon-phone:before {
  content: '\e911';
}
._icon-plus:before {
  content: '\e912';
}
._icon-question:before {
  content: '\e913';
}
._icon-search:before {
  content: '\e914';
}
._icon-star:before {
  content: '\e915';
}
._icon-telegram:before {
  content: '\e916';
}
._icon-telephone:before {
  content: '\e917';
}
._icon-usb:before {
  content: '\e918';
}
._icon-viber:before {
  content: '\e919';
}
._icon-whatsapp:before {
  content: '\e91a';
}
._icon-close:before {
  content: '\e91b';
}
._icon-tile:before {
  content: '\e91c';
}
._icon-list:before {
  content: '\e91d';
}
._icon-bars:before {
  content: '\e91e';
}
._icon-home:before {
  content: '\e91f';
}
._icon-filter:before {
  content: '\e920';
}
._icon-arrow-down:before {
  content: '\e921';
}
._icon-arrow-expand:before {
  content: '\e922';
}
._icon-arrow-left:before {
  content: '\e923';
}
._icon-arrow-link:before {
  content: '\e924';
}
._icon-arrow-open:before {
  content: '\e925';
}
._icon-arrow-right:before {
  content: '\e926';
}
._icon-arrow-up:before {
  content: '\e927';
}
._icon-auto:before {
  content: '\e928';
}
._icon-basket:before {
  content: '\e929';
}
._icon-bucket:before {
  content: '\e92a';
}
._icon-burger:before {
  content: '\e92b';
}
._icon-calculator:before {
  content: '\e92c';
}
._icon-chat:before {
  content: '\e92d';
}
