.catalog {
  &__bars-head {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 24px;
    color: var(--grey);
    font-size: 14px;
    letter-spacing: 0.14px;
    padding-right: 24px;

    .bars-head__item {
      &:nth-child(1) {
        width: 115px;
        flex: 0 0 auto;

        @media (max-width: 1080px) {
          width: 91px;
        }
      }
      &:nth-child(2) {
        flex: 0 0 45%;
      }
      &:nth-child(3) {
        flex: 0 0 12%;
        margin-left: 8px;
      }
      &:nth-child(4) {
        flex: 0 0 14%;
      }
      &:nth-child(5) {
      }
    }
  }

  &__type-bars {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;

    @media (max-width: 992px) {
      display: none;
    }
  }

  &__item-bars {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
}
