.catalog {
  &__bars-head {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 24px;
    color: var(--grey);
    font-size: 14px;
    letter-spacing: 0.14px;

    .bars-head__item {
      &:nth-child(1) {
        flex: 0 0 12%;
      }
      &:nth-child(2) {
        flex: 0 0 49%;
      }
      &:nth-child(3) {
        flex: 0 0 13%;
      }
      &:nth-child(4) {
        flex: 0 0 14%;
      }
      &:nth-child(5) {
      }
    }
  }

  &__type-bars {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;

    @media (max-width: 992px) {
      display: none;
    }
  }

  &__item-bars {
    &:not(:last-child) {
      margin-bottom: 24px;
    }

    .bars-card__image {
      flex: 0 0 auto;
    }

    .price-card {
      @media (max-width: 1200px) {
        flex: 0 0 50%;
      }
    }

    .price-card__new {
      @media (max-width: 1200px) {
        font-size: 18px;
      }
    }

    .bars-card__count {
      @media (max-width: 1200px) {
        flex: 0 0 43%;
      }
    }

    .bars-card__description {
      @media (max-width: 1200px) {
        flex: 0 0 59%;
      }
    }
  }
}

@media (max-width: 1200px) {
}
