:root {
    --red: #DB322B;
    --white: #FFFFFF;
    --white-1: #E8E8E8; 
    --white-2: #E5E0E0;
    --white-3: #F5F5F5; 
    --grey: #9F9A9A;
    --grey-1: #DDD9D9; 
    --black: #000;
    --black-1: #434242;
    --black-2: #373737;
    --blue: #005254;
}