:root {
    --BG: #E8E8E8;
    --Red: #DB322B;
    --White: #FFFFFF;
    --White-2: #E5E0E0;
    --white-svg: #F5F5F5;
    --Grey: #9F9A9A;
    --Grey-3: #DDD9D9;
    --Black: #000;
    --Black-2: #373737;
    --Black-3: #434242;
    --Blue: #005254;
}