// ----------------------------- Input search ------------------------//
.search-block {
  width: 100%;

  &__form {
    position: relative;
  }

  &__form {
  }

  &__wrapper {
  }

  &__request {
    background-color: var(--white-1);
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    border-radius: 0 0 5px 5px;
    border: 1px solid var(--grey);
    border-top: none;

    @media (max-width: 992px) {
      background-color: var(--white-3);
      border: none;
    }
  }
}

.search-wrapper {
  position: relative;
  width: 100%;

  &__input {
    border-radius: 5px;
    border: 1px solid var(--grey);
    padding: 12.5px 85px 12.5px 12px;
    line-height: 17px;
    color: var(--black-2);
    font-size: 14px;
    letter-spacing: 0.14px;
    width: 100%;
    transition: all 0.2s ease 0s;
    -webkit-appearance: none;
    &:hover,
    &:focus {
      border: 1px solid var(--grey);
      color: var(--black-2);
      transition: all 0.2s ease 0s;

      @media (max-width: 992px) {
        border: none;
      }

      &::placeholder {
        transition: all 0.2s ease 0s;
        color: var(--black-2, #373737);
      }
    }

    @media (max-width: 992px) {
    }

    &::placeholder {
      color: var(--grey, #9f9a9a);
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.14px;
      transition: all 0.2s ease 0s;
    }

    &.border-request {
      border-bottom: none;
      border-radius: 5px 5px 0 0;
    }
  }

  ._icon-close {
    display: none;
    font-size: 20px;
    color: var(--grey, #9f9a9a);
    position: absolute;
    right: 64px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__input:focus ~ ._icon-close {
    display: block;
  }

  &__btn {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 56px;
    height: 44px;
    border-radius: 5px;
    background: var(--red, #db322b);
    display: flex;
    align-items: center;
    justify-content: center;

    ._icon-search {
      font-size: 20px;
      color: var(--white-3);
    }
  }
}

.search-request {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-bottom: 20px;
  color: var(--black-2, #373737);
  font-family: Inter;
  font-size: 15px;
  letter-spacing: 0.15px;

  @media (max-width: 767px) {
    font-size: 14px;
    padding-bottom: 4px;
  }

  &__wrapper {
    width: 100%;
    margin-top: 12px;

    @media (max-width: 992px) {
      margin-top: 8px;
    }
  }

  &__section {
    width: 100%;
    padding-top: 12px;
    position: relative;

    &::before {
      position: absolute;
      display: block;
      content: '';
      width: 96%;
      height: 1px;
      background-color: var(--grey-1, #ddd9d9);
      top: 0;
      left: 50%;
      transform: translateX(-50%);

      @media (max-width: 992px) {
        display: none;
      }
    }
  }

  // .search-request__products
}

.unfound-request {
  color: var(--grey, #9f9a9a);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 12px 0 12px;
  &__text {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.15px;

    @media (max-width: 767px) {
      font-size: 14px;
    }
  }

  &__icon {
    display: none;

    @media (max-width: 992px) {
      display: block;
    }
    font-size: 20px;
    margin-right: 8px;
  }
}

.prompt-request {
  // .prompt-request__list

  &__list {
  }

  // .prompt-request__item

  &__item {
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 8px;

      @media (max-width: 992px) {
        margin-bottom: 0;
      }
    }
  }

  // .prompt-request__link

  &__link {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px 6px 12px;

    @media (max-width: 992px) {
      padding: 8px 12px;
    }

    ._icon-arrow-right {
      font-size: 14px;
      color: var(--grey, #9f9a9a);
      padding: 2px;

      @media (max-width: 992px) {
        font-size: 12px;
      }
    }
  }

  // .prompt-request__text

  &__text {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    ._icon-search {
      font-size: 20px;
      color: var(--grey);
      margin-right: 8px;
      display: none;

      @media (max-width: 992px) {
        display: block;
      }
    }
  }
}

.products-request {
  &__wrapper {
  }

  // .products-request__title

  &__title {
    color: var(--black-2, #373737);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 8px;
    letter-spacing: 0.16;
    padding: 0 12px 0 12px;
  }

  // .products-request__list

  &__list {
    width: 100%;
  }

  // .products-request__item

  &__item {
    width: 100%;
    margin-bottom: 8px;

    &:not(:last-child) {
      @media (max-width: 767px) {
        margin-bottom: 14px;
      }
    }
  }

  // .products-request__link

  &__link {
    width: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px 0 12px;

    ._icon-arrow-right {
      font-size: 14px;
      color: var(--grey, #9f9a9a);
      padding: 2px;

      @media (max-width: 992px) {
        font-size: 12px;
      }
    }
  }
}

.product-link {
  // .product-link__main

  &__main {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  // .product-link__image

  &__image {
    width: 47px;
    height: 51px;
    border-radius: 5px;
    margin-right: 8px;
    flex: 1 0 auto;

    @media (max-width: 767px) {
      width: 42px;
      height: 42px;
    }

    @media (max-width: 489px) {
      margin-right: 0;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  // .product-link__info

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  // .product-link__name

  &__name {
    color: var(--black-2, #373737);
    font-size: 15px;
    letter-spacing: 0.15px;

    @media (max-width: 767px) {
      font-size: 14px;
    }

    span {
      color: var(--grey, #9f9a9a);
    }
  }

  // .product-link__price

  &__price {
    color: var(--red, #db322b);
    font-size: 18px;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: 0.18px;

    @media (max-width: 992px) {
      color: var(--grey, #9f9a9a);
    }

    @media (max-width: 767px) {
      font-size: 16px;
      font-weight: 500;
    }
  }
}

// --------------------------- Buttons -----------------------------//

.btn {
  padding: 12px 20px;
  min-width: 103px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.18px;
  color: var(--white-4);
  display: flex;
  align-items: center;
  justify-content: center;

  &_red {
    background-color: var(--red);
    &:hover {
      background-color: var(--red-1);
    }
  }

  &_white {
    color: var(--red);
    background-color: var(--white-3);
  }

  &_disabled {
    background-color: var(--grey);
  }

  ._icon-basket {
    display: none;
  }

  &._hide {
    display: none;
  }
}

.btn-basket {
  font-size: 24px;
  color: var(--white-3);
  padding: 10px 16px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

  &._hide {
    display: none;
  }
}

// ---------------------------Card Row --------------------------- //
.card-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 15px;
  background: var(--white-3);
  box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.07);
  position: relative;

  &__icon {
    position: absolute;
    top: 16.5px;
    right: 24px;
    font-size: 20px;
    color: var(--grey);
    display: none;

    &_red {
      color: var(--red);
    }

    &_active {
      display: block;
    }
  }

  &__description {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  // .card-row__image

  &__image {
    width: 253px;
    height: 253px;
    position: relative;
    margin-right: 24px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  // .card-row__info

  &__info {
    padding: 58px 0 28px 0;
  }

  // .card-row__name

  &__name {
    display: block;
    color: var(-black-2);
    font-size: 16px;
    letter-spacing: 0.16px;
    font-weight: 500;
    height: 44px;
    margin-bottom: 6px;

    &_color {
      color: var(--grey);
    }
  }

  // .card-row__characteristics

  &__characteristics {
  }

  // .card-row__trade

  &__trade {
    align-self: flex-end;
    padding-right: 24px;
    padding-bottom: 27.5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
  }

  // .card-row__availability

  &__availability {
    margin-bottom: 14px;
  }

  // .card-row__purchase

  &__purchase {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  // .card-row__price

  &__price {
  }

  // .card-row__button

  &__button {
    margin-left: 5px;

    &._hidden {
      display: none;
    }
  }

  // .card-row__count

  &__count {
    margin-left: 5px;
    &._hidden {
      display: none;
    }
  }
}

.characteristics-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--grey);
  font-size: 12px;
  letter-spacing: 0.24px;

  // .characteristics-card__item

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
.article-card {
  font-size: 14px;
  letter-spacing: 0.14px;

  // .article-card__name

  &__name {
    margin-right: 6px;
  }

  // .article-card__value

  &__value {
  }
}
.item-characteristic {
  // .item-characteristic__name

  &__name {
    margin-right: 6px;
  }

  // .item-characteristic__value

  &__value {
    color: var(--black-2);
  }
}
.price-card {
  width: 70px;

  // .price-card__old

  &__old {
    color: var(--grey-1);
    font-size: 14px;
    letter-spacing: 0.14px;
    text-decoration: line-through;
  }

  // .price-card__new

  &__new {
    color: var(--black-2);
    font-size: 24px;
    font-weight: 500;
  }
}

//----------------------------Card Row Mobile---------------------//

.card-mobile {
  padding: 16px 24px 16px 0;
  background-color: var(--white-3);
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  position: relative;
  border-radius: 5px;
  box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.07);

  @media (max-width: 479px) {
    padding: 8px 12px 8px 0;
  }

  &__icon {
    position: absolute;
    top: 25px;
    left: 140px;
    color: var(--grey);
    font-size: 20px;
    display: none;

    @media (max-width: 479px) {
      top: 17px;
      left: 82px;
    }

    &_red {
      color: var(--red);
    }

    &._active {
      display: block;
    }
  }
  // .card-mobile__image
  &__image {
    width: 184px;
    height: 184px;
    flex: 0 0 auto;

    @media (max-width: 479px) {
      width: 106px;
      height: 106px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // .card-mobile__content

  &__content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    margin-left: 12px;
    flex: 0 1 auto;
  }

  // .card-mobile__head

  &__head {
    color: var(--black-2);
    font-size: 18px;
    letter-spacing: 0.15px;
    @media (max-width: 479px) {
      font-size: 15px;
    }
  }

  // .card-mobile__name

  &__name {
  }

  // .card-mobile__description

  &__description {
    color: var(--grey);
  }

  // .card-mobile__trade

  &__trade {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-top: 8px;

    @media (max-width: 350px) {
    }
  }

  // .card-mobile__price

  &__price {
  }

  // .card-mobile__status

  &__status {
    margin-left: 8px;
    @media (max-width: 479px) {
      margin-left: 2.5px;
    }

    @media (max-width: 350px) {
      position: absolute;
      bottom: 4px;
      left: 4px;
    }
  }

  // .card-mobile__button

  &__button {
    &._hidden {
      display: none;
    }

    margin-left: 8px;
    @media (max-width: 479px) {
      margin-left: 2.5px;
    }

    @media (max-width: 350px) {
    }
  }

  // .card-mobile__count

  &__count {
    &._hidden {
      display: none;

      margin-left: 8px;
      @media (max-width: 479px) {
        margin-left: 2.5px;
      }
      @media (max-width: 350px) {
      }
    }
  }

  .price-card {
    position: relative;
    width: max-content;

    &__new {
      @media (max-width: 479px) {
        font-size: 16px;
      }
    }

    &__old {
      position: absolute;
      left: 0;
      top: -50%;

      @media (max-width: 479px) {
        font-size: 12px;
      }
    }
  }
}

// ----------------------------Product Card ---------------??
.product-card {
  border-radius: 5px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: max-content;
  position: relative;

  @media (max-width: 992px) {
    width: 100%;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
  }
  @media (max-width: 767px) {
    background-color: transparent;
  }

  @media (max-width: 479px) {
    height: 107px;
  }

  // .product-card__icon

  &__icon {
    position: absolute;
    top: 16px;
    right: 14px;
    font-size: 20px;
    color: var(--grey);
    align-items: center;
    justify-content: center;
    display: none;

    @media (max-width: 1200px) {
      font-size: 16px;
    }

    @media (max-width: 767px) {
      position: absolute;
      width: max-content;
      left: 100px;
      top: 14px;
    }

    @media (max-width: 479px) {
      font-size: 12px;
      left: 82px;
      top: 10px;
    }

    &_red {
      color: var(--red);
    }

    &_active {
      display: flex;
    }
  }

  &__status {
    display: none;
  }

  // .product-card__image

  &__image {
    @media (max-width: 992px) {
      flex: 0 0 150px;
    }
    @media (max-width: 767px) {
      flex: 0 0 125px;
    }
    @media (max-width: 479px) {
      flex: 0 0 107px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px 10px 8px 10px;
    position: relative;

    @media (max-width: 992px) {
      justify-content: space-between;
      flex: auto;
    }

    @media (max-width: 479px) {
      padding: 0;
      padding-left: 16px;
    }
  }

  // .product-card__name

  &__name {
    max-width: 233px;
    height: 38px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--black-2);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.16px;
    margin-bottom: 16px;

    @media (max-width: 1200px) {
    }

    @media (max-width: 992px) {
      max-width: 75%;
    }

    @media (max-width: 479px) {
      margin-bottom: 0;
      max-width: 100%;
    }
    &_color {
      color: var(--grey, #9f9a9a);
    }
  }

  // .product-card__info

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 8px;

    @media (max-width: 479px) {
      margin-bottom: 0;
    }
  }

  // .product-card__article

  &__article {
    color: var(--grey);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.24px;

    @media (max-width: 1200px) {
      font-size: 10px;
      padding-right: 4px;
    }
  }

  // .product-card__availability

  &__availability {
    .lable-status {
      @media (max-width: 479px) {
        padding: 0;
        font-size: 14px;
      }
    }
  }

  // .product-card__purchase

  &__purchase {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
  }

  // .product-card__price

  &__price {
    .price-card__old {
    }

    .price-card__new {
      font-size: 18px;
      letter-spacing: 0.18px;
    }
  }

  &__counter {
    &._hidden {
      display: none;
    }
  }

  // .product-card__button

  &__button {
    &._hidden {
      display: none;
    }
    .btn {
      @media (max-width: 1200px) {
        min-width: 100px;
        padding: 8px 14px;
        font-size: 16px;
      }

      @media (max-width: 479px) {
        padding: 10px 16px;
        min-width: auto;
      }
    }

    .btn-text {
      @media (max-width: 479px) {
        display: none;
      }
    }

    ._icon-basket {
      @media (max-width: 479px) {
        display: block;
      }
    }
  }

  &__hidden {
  }
}

.hidden-card {
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  bottom: 2px;
  left: 0;
  background-color: var(--white);
  z-index: 500;
  width: 100%;
  transform: translateY(100%);
  padding: 0 10px 8px 10px;
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 16px 21px -3px rgba(0, 0, 0, 0.23);
  display: none;

  &__row {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.24px;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__name {
    color: var(--grey);
    margin-right: 6px;
  }

  &__value {
    color: var(--black-2);
  }
}

// ---------------------------Bars card--------------------------- //

.bars-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 18px;
  background: var(--white-3);
  box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.07);
  position: relative;

  &__icon {
    position: absolute;
    top: 16.5px;
    right: 24px;
    font-size: 20px;
    color: var(--grey);
    display: none;

    &_red {
      color: var(--red);
    }

    &_active {
      display: block;
    }
  }

  &__description {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-right: 16px;
    flex: 0 0 61%;
  }

  &__image {
    width: 91px;
    height: 91px;
    position: relative;
    margin-right: 24px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 10px;
    }
  }

  &__info {
    padding: 20px 0 10px 0;
    flex: 0 1 454px;
  }

  &__name {
    display: block;
    color: var(-black-2);
    font-size: 16px;
    letter-spacing: 0.16px;
    font-weight: 500;
    margin-bottom: 6px;
  }

  &__characteristics {
  }

  &__trade {
    display: flex;
    align-items: center;
    padding-right: 16px;
    justify-content: space-between;
    flex: 0 0 39%;
  }

  &__availability {
    flex: 0 0 24%;
  }

  &__purchase {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1 1 auto;
  }

  &__price {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.price-card {
      position: relative;
      flex: 0 0 44%;

      .price-card__old {
        position: absolute;
        top: -50%;
        left: 0;
      }
    }
  }

  &__button {
    margin-left: 8px;
    flex: 0 0 40%;

    &._hidden {
      display: none;
    }
  }

  &__count {
    margin-left: 8px;
    flex: 0 0 40%;
    &._hidden {
      display: none;
    }
  }
}

// ----------------------------- Lables -----------------------//

.lable-status {
  padding: 4px 8px;
  font-size: 14px;
  letter-spacing: 0.14px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 78px;

  &_available {
    background-color: var(--white-1);
    color: var(--blue);
    width: max-content;
  }
}

// ------------------------------Counter---------------------//

.counter {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  margin: 0 -4px;

  &__icon {
    font-size: 24px;
    padding: 10px;
    color: var(--black-2);
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      color: var(--red);
    }

    &_disabled {
      color: var(--grey);

      &:hover {
        color: var(--grey);
      }
    }
  }

  // .counter__value

  &__value {
    border-radius: 4px;
    border: 1px solid var(--grey);
    margin: 0 4px;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.18px;

    form {
      width: inherit;

      input {
        width: inherit;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  &__plus {
    width: 100%;
    height: 100%;

    &:hover {
      svg path {
        stroke: var(--red);
      }
    }
  }
}

//-----------------------------Pagination-------------------//

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__item {
    border-radius: 4px;
    border: 1px solid var(--grey);
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-2);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.18px;

    @media (max-width: 479px) {
      font-size: 16px;
      width: 40px;
      height: 40px;
    }

    &:hover {
      background: var(--white-2);
    }

    &:not(:last-child) {
      margin-right: 20px;

      @media (max-width: 479px) {
        margin-right: 8px;
      }
    }

    &._active {
      background-color: var(--red);
      color: var(--white-3);
      border-color: var(--red);
    }

    &._disactive {
      display: none;
    }
  }

  &__left {
  }

  &__right {
  }

  &__icon {
    font-size: 16px;
  }

  &__dots {
    align-items: flex-end;
    border: none;

    &:hover {
      background-color: transparent;
    }
  }

  &__number {
  }

  &__arrow {
    &:hover {
      background-color: transparent;

      color: var(--red);
    }
  }
}

//----------------------------Select-----------------------//

.select-elem {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &._open {
    .select-elem__icon {
      transform: rotate(180deg);
      transition: all 0.3s ease 0s;
    }
    .select-elem__body {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
      transition: all 0.3s ease 0s;
    }
  }
  &__text {
    color: var(--black-2);
    font-size: 12px;
    letter-spacing: 0.24px;
    margin-right: 8px;
  }

  &__tab {
    position: relative;
  }
  &__head {
    border-radius: 5px;
    border: 1px solid var(--grey);
    padding: 2px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__name {
    color: var(--grey);
    font-size: 14px;
    letter-spacing: 0.14px;
  }

  &__icon {
    font-size: 24px;
    color: var(--black);
    transition: all 0.3s ease 0s;
  }

  &__body {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100%);
    position: absolute;
    z-index: 500;
    top: 33px;
    left: 0;
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--grey);
    padding: 2px 0px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    transition: all 0.3s ease 0s;
    background-color: var(--white-1);
  }

  &__option {
    color: var(--grey);
    font-size: 14px;
    letter-spacing: 0.14px;
    padding: 8px;
    transition: all 0.2s ease 0s;
    width: 100%;
    text-align: left;

    &:hover {
      color: var(--black-2);
      transition: all 0.2s ease 0s;
    }
  }
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 767px) {
}

@media (max-width: 479px) {
}
