._block {
  overflow-y: hidden;
}

.product-page {
  padding: 48px 0 140px 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;

  @media (max-width: 992px) {
    padding: 40px 0 80px 0;
  }
  @media (max-width: 767px) {
    padding: 36px 0 56px 0;
  }

  @media (max-width: 479px) {
    padding: 28px 0 40px 0;
  }
  // .product-page__main

  &__main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
  }

  // .product-page__content

  &__content {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-bottom: 48px;

    @media (max-width: 992px) {
      display: none;
    }
  }

  // .product-page__gallery

  &__gallery {
    flex: 0 0 49%;
    border-radius: 10px;
    background-color: var(--white);
    padding: 52px 0 36px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    @media (max-width: 1200px) {
      padding: 36px 0 24px 0;
    }
  }

  &__slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  // .product-page__main-img

  &__main-img {
    width: 256px;
    height: 256px;
    border-radius: 10px;
    margin-bottom: 29px;

    @media (max-width: 1200px) {
      width: 204px;
      height: 204px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  // .product-page__list-img

  &__list-img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 30px;
    max-width: 558px;
    overflow: hidden;

    @media (max-width: 1200px) {
      margin: 0 16px;
      max-width: 408px;
    }
  }

  // .product-page__small-img

  &__small-img {
    width: 72px;
    height: 72px;
    flex: 0 0 72px;
    border-radius: 5px;
    padding: 10px;

    &._active {
      border: 1px solid var(--blue);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px;
    }

    &:not(:last-child) {
      margin-right: 12px;
    }

    &:last-child,
    &:first-child,
    &:nth-child(7) {
      opacity: 0.1;
      width: 63px;
      height: 63px;
      flex: 0 0 63px;

      @media (max-width: 1200px) {
        opacity: 1;
        width: 72px;
        height: 72px;
        flex: 0 0 72px;
      }
    }
  }

  // .product-page__pagination

  &__pagination {
    width: 100%;
    position: absolute;
  }

  // .product-page__arrow

  &__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--grey);
    border-radius: 5px;
    border: 1px solid var(--grey-1);
    padding: 8px;

    &:hover {
      color: var(--red);
    }
    span {
      font-size: 10px;
      padding: 7px;
    }
  }

  // .product-page__arrow-prev

  &__arrow-prev {
    left: 16px;
  }

  // .product-page__arrow-next

  &__arrow-next {
    right: 16px;
  }

  // .product-page__info

  &__info {
    flex: 0 0 49%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    padding: 25px 97px 46px 97px;
    position: relative;
    color: var(--black-2);

    @media (max-width: 1200px) {
      padding: 16px 32px 32px 32px;
    }
  }

  // .product-page__icon

  &__icon {
    position: absolute;
    top: 23px;
    right: 96px;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: var(--grey);
    width: 24px;
    height: 24px;

    @media (max-width: 1200px) {
      top: 18px;
      right: 37px;
    }
    // .product-page__icon_active

    &._active {
      display: flex;
    }

    // .product-page__icon_red

    &_red {
      color: var(--red);
    }
  }

  // .product-page__title

  &__title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 6px;
    padding-right: 32px;

    @media (max-width: 1200px) {
      font-size: 22px;
    }
  }

  // .product-page__article

  &__article {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--grey);
    font-size: 14px;
    letter-spacing: 0.14px;
    margin-bottom: 24px;

    @media (max-width: 1200px) {
      margin-bottom: 20px;
    }
  }

  &__copy {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    width: 16px;
    height: 16px;
    margin-left: 8px;
    color: var(--grey);
  }

  // .product-page__description

  &__description {
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.24px;
    margin-bottom: 57px;
  }

  // .product-page__color

  &__color {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.24px;
    margin-bottom: 48px;
  }

  // .product-page__color-list

  &__color-list {
    margin-left: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  // .product-page__color-item

  &__color-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    width: 24px;
    height: 24px;
    line-height: 1;
    border-radius: 1px;
    border-width: 0px;
    border-style: solid;

    &:not(:last-child) {
      margin-right: 4px;
    }

    &._blue {
      border-color: var(--blue);
      .product-page__color-btn {
        background-color: var(--blue);
      }
    }
    &._red {
      border-color: var(--red-pale);
      .product-page__color-btn {
        background-color: var(--red-pale);
      }
    }
    &._yellow {
      border-color: var(--yellow-pale);
      .product-page__color-btn {
        background-color: var(--yellow-pale);
      }
    }

    &._active {
      border-width: 1px;
    }
  }

  // .product-page__color-btn

  &__color-btn {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 1px;
    line-height: 1;
  }

  // .product-page__status

  &__status {
    margin-bottom: 7.5px;

    .lable-status_available {
      background-color: var(--white-3);
    }
  }

  // .product-page__purchase

  &__purchase {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__price {
    .price-card__new {
      color: var(--red);
      font-size: 32px;
      font-weight: 700;
      letter-spacing: -0.32px;
    }
  }

  &__mobile {
    display: none;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    position: relative;
    margin-bottom: 72px;

    @media (max-width: 992px) {
      display: flex;
    }

    @media (max-width: 767px) {
      margin-bottom: 50px;
    }

    .product-page__title {
      font-weight: 700;
      letter-spacing: 0.16px;
      font-size: 24px;
      margin-bottom: 32px;

      @media (max-width: 767px) {
        font-size: 20px;
        margin-bottom: 24px;
      }
      @media (max-width: 479px) {
        font-size: 16px;
      }
    }

    .product-page__icon {
      right: 0;
      top: 0;
    }

    .product-page__gallery {
      margin-bottom: 24px;
      padding: 42px 0 72px 0;
      @media (max-width: 767px) {
        margin-bottom: 12px;
      }
      @media (max-width: 479px) {
        padding: 35px 0 58px 0;
      }
    }

    .product-page__slider {
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      max-width: 325px;
      overflow-x: hidden;

      @media (max-width: 767px) {
        max-width: 268px;
      }
      @media (max-width: 479px) {
        max-width: 195px;
      }
    }

    .product-page__main-img {
      width: 325px;
      height: 325px;
      margin-bottom: 0;
      flex: 0 0 325px;

      @media (max-width: 767px) {
        width: 268px;
        height: 268px;
        flex: 0 0 268px;
      }

      @media (max-width: 479px) {
        width: 195px;
        height: 195px;
        flex: 0 0 195px;
      }
    }

    .product-page__arrow {
      padding: 7px;
    }

    .product-page__color {
      position: absolute;
      bottom: 16px;
      left: 50%;
      transform: translateX(-50%);
      margin-bottom: 0;
    }

    .product-page__data {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 32px;
      @media (max-width: 767px) {
        margin-bottom: 24px;
      }
    }

    .product-page__article,
    .product-page__status {
      margin-bottom: 0;
    }

    .product-page__status {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    .price-card__new {
      @media (max-width: 479px) {
        font-size: 18px;
      }
    }
  }
}

.tabs-product {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  color: var(--black-2);
  font-size: 15px;
  letter-spacing: 0.15px;

  // .tabs-product__head

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    background: var(--white-3);
    box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.23);
    padding: 0 48px;
    margin-bottom: 16px;

    @media (max-width: 767px) {
      overflow-x: scroll;
      padding: 0 24px;
    }

    @media (max-width: 479px) {
      font-size: 13px;
      padding: 0 16px;
    }
  }

  // .tabs-product__title

  &__title {
    padding: 11px 0 14px 0;
    position: relative;
    transition: all 0.2s ease 0s;

    @media (max-width: 767px) {
      &:not(:last-child) {
        margin-right: 31px;
        flex: 0 0 auto;
      }
    }

    &._active,
    &:hover {
      color: var(--red);

      &::after {
        position: absolute;
        display: block;
        content: '';
        width: 110%;
        height: 2px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--red);
        border-radius: 0.5px;
        transition: all 0.2s ease 0s;
      }
    }
  }

  // .tabs-product__body

  &__body {
  }
}
.body-tabs {
  // .body-tabs__tab

  border-radius: 5px;
  background: var(--white-3);
  padding: 24px 48px;

  @media (max-width: 1200px) {
    padding: 24px 36px;
  }

  @media (max-width: 992px) {
    padding: 0;
    background-color: transparent;
  }

  @media (max-width: 767px) {
  }

  @media (max-width: 479px) {
  }

  &__tab {
    display: flex;

    &:not(:last-child) {
      padding-bottom: 24px;
    }

    @media (max-width: 992px) {
      background-color: var(--white);
      margin-bottom: 12px;
      border-radius: 5px;
      padding: 24px;
    }

    @media (max-width: 767px) {
      padding: 16px;
    }
  }

  // .body-tabs__description

  &__description {
    width: 35%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    @media (max-width: 1200px) {
      width: 50%;
    }

    @media (max-width: 992px) {
      width: 100%;
    }
  }

  // .body-tabs__title

  &__title {
    color: var(--red);
    margin-bottom: 12px;
  }

  // .body-tabs__text

  &__text {
    font-size: 12px;
    letter-spacing: 0.24px;
  }

  &__characteristic {
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 992px) {
      flex-direction: column;
      align-items: stretch;
      justify-content: flex-start;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
  }

  &__questions {
    width: 50%;
    position: relative;

    @media (max-width: 1200px) {
      width: 50%;
    }

    @media (max-width: 992px) {
      width: 100%;
    }
  }
}

.characteristic-product {
  margin-bottom: 24px;
  flex: 0 0 49%;

  &__list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
  }

  &__item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
  }

  &__name {
    line-height: 1.5;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1 1 auto;

    &:not(:last-child) {
      margin-bottom: 12px;
    }

    .dots {
      border-bottom: 1px dotted var(--grey);
      align-self: center;
      margin: 0 12px;
      flex: 1 1 auto;

      @media (max-width: 479px) {
        flex: 1 0 15%;
      }
    }
  }
  &__value {
    font-weight: 600;
    text-align: right;
  }
}

.questions-product {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  // .questions-product__no-question

  &__no-question,
  &__ask-question,
  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &__ask-question,
  &__form {
    @media (max-width: 479px) {
      width: 100%;
    }
  }

  &__text {
    margin-bottom: 12px;
  }

  &__input {
    border-radius: 5px;
    border: 1px solid var(--grey);
    padding: 16px 12px;
    color: var(--grey);
    font-size: 14px;
    letter-spacing: 0.14px;
    margin-bottom: 24px;
    width: 282px;

    @media (max-width: 479px) {
      width: 100%;
      max-width: 282px;
    }
  }

  &__btn {
    padding: 16px 32px;
  }

  &__popup {
    display: none;

    &._open {
      display: block;
    }
    @media (max-width: 992px) {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      z-index: 5555;
    }
  }
}

.popup-question {
  border-radius: 10px;
  background-color: var(--white-1);
  box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.07);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  padding: 28px 24px;
  width: 388px;
  position: absolute;
  z-index: 6666;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);

  @media (max-width: 479px) {
    max-width: 350px;
    width: 90vw;
  }

  &__btn {
    position: absolute;
    top: 30px;
    right: 24px;
    font-size: 24px;
    color: var(--grey);
  }

  &__check {
    color: var(--green);
    font-size: 24px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 28px;
    padding-right: 32px;
    width: 100%;
    span {
      display: block;
    }

    ._icon-check {
      margin-right: 8px;
    }
  }

  &__text {
    font-size: 12px;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.24px;
  }
}

.asked-question {
  width: 100%;
  .body-tabs__title {
    padding-bottom: 12px;
    position: relative;

    &::after {
      position: absolute;
      display: block;
      content: '';
      background-color: var(--white-2);
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
    }
  }

  &__content {
    font-size: 12px;
    letter-spacing: 0.24px;
    line-height: 1.5;
    color: var(--grey);
  }
  &__question,
  &__content,
  &__body,
  &__answer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
  }

  &__question,
  &__answer {
    margin-bottom: 24px;
  }

  &__sub-answer {
    margin: 0 24px;

    @media (max-width: 767px) {
      margin: 0 16px;
    }
  }

  &__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__icon {
    width: 32px;
    height: 32px;
    margin-right: 24px;
  }

  &__data {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__details,
  &__color {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    span {
      display: block;
    }

    .color-item {
      width: 16px;
      height: 16px;
      border-radius: 1px;
      background: var(--blue);
      margin-left: 8px;
    }
  }

  &__user {
    font-weight: 600;
    margin-right: 16px;
    color: var(--black-2);
  }

  &__text {
    color: var(--black-2);
    margin-bottom: 12px;
  }

  &__rating {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @media (max-width: 479px) {
      justify-content: space-between;
    }
  }

  &__respond {
    color: var(--blue);
    padding: 0 24px;
    line-height: 1.2;
    text-decoration: underline;
    margin-right: 24px;

    @media (max-width: 390px) {
      padding: 0;
      margin-right: 8px;
    }
  }

  &__reaction {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    span {
      display: block;
    }

    ._icon-like,
    ._icon-dislike {
      margin-right: 8px;
      font-size: 16px;
      color: var(--black);
    }

    ._icon-like {
      &._active {
        color: var(--red);
      }
    }
  }

  &__like,
  &__dislike {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__like {
    margin-right: 12px;
    @media (max-width: 390px) {
      margin-right: 8px;
    }
  }

  &__show-answer {
    font-size: 14px;
    letter-spacing: 0.14px;
    text-decoration-line: underline;
    margin-left: 24px;
    color: var(--grey);

    @media (max-width: 767px) {
      font-size: 12px;
    }
    @media (max-width: 390px) {
      margin-left: 12px;
    }
  }

  &__button {
    color: var(--grey);
    font-size: 14px;
    letter-spacing: 0.14px;
    text-decoration-line: underline;
    align-self: flex-start;
    margin-bottom: 24px;

    @media (max-width: 767px) {
      font-size: 12px;
    }
  }

  &__input-area {
    border-radius: 5px;
    background-color: var(--white);
    padding: 0 24px 0 12px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;

    .asked-question__icon {
      transform: scale(1, -1);
    }

    .asked-question__text {
      margin-bottom: 4px;
      padding-bottom: 8px;
      margin-top: 4px;
      border-bottom: 1px solid var(--grey-1);
      width: 100%;
    }
  }

  &__form {
    position: relative;

    @media (max-width: 992px) {
      border-radius: 5px;
      border: 1px solid var(--Grey, #9f9a9a);
    }
  }

  &__input {
    width: 100%;
    padding: 16px 36px 16px 12px;
    min-height: 94px;
    font-size: 14px;
    resize: none;
    &::-webkit-input-placeholder,
    &:-moz-placeholder,
    &::-moz-placeholder,
    &:-ms-input-placeholder {
      color: var(--grey);
      font-size: 14px;
    }

    @media (max-width: 479px) {
      padding: 16px 12px;
    }
  }

  &__submit {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    position: absolute;
    top: 16px;
    right: 18px;
    z-index: 100;
    color: var(--red);
  }
}

.comments {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;

  &__body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
  }

  &__header,
  &__rating,
  &__stars {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__header {
    margin-bottom: 8px;

    @media (max-width: 992px) {
      justify-content: space-between;
    }
  }

  &__user {
    color: #000;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.18px;
    margin-right: 32px;
  }

  &__date {
    color: var(--grey);
    font-size: 14px;
    letter-spacing: 0.14px;
  }

  &__rating {
    color: var(--grey);
    font-size: 14px;
    letter-spacing: 0.14px;
    margin-bottom: 24px;

    @media (max-width: 767px) {
      margin-bottom: 16px;
    }
  }

  &__rating-number {
    margin-right: 8px;
  }

  &__stars {
    font-size: 20px;
    color: var(--black);
  }

  &__star {
    display: flex;
    align-items: center;
    justify-content: center;

    &:not(:last-child) {
      margin-right: 8px;
    }

    ._icon-star-red {
      color: var(--red);
      display: none;
    }

    &._active {
      ._icon-star-red {
        display: block;
      }

      ._icon-star {
        display: none;
      }
    }
  }

  &__text {
    color: var(--black);
    font-size: 15px;
    letter-spacing: 0.15px;
    margin-bottom: 24px;

    @media (max-width: 767px) {
      margin-bottom: 20px;
    }
  }
}

.answer-comments {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 8px 24px;

  @media (max-width: 767px) {
    margin: 8px 0;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &__name {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.16px;
  }

  &__text {
    font-size: 14px;
    letter-spacing: 0.14px;
  }
}

.gallery-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  z-index: 9999;
  padding: 96px 92px 0 40px;
  display: none;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;

  &._open {
    display: flex;
  }

  &__close {
    font-size: 24px;
    color: var(--grey);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 40px;
    top: 40px;
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 98px;
  }

  &__title {
    color: var(--black-2);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.16px;
    flex: 0 0 33%;
  }

  .product-page__slider {
    margin: 0 auto;
    width: max-content;
    position: relative;
  }

  .product-page__pagination {
    position: absolute;
    top: 184px;
  }

  .product-page__arrow {
    transform: translate(0);
  }
  .product-page__arrow-prev {
    left: -94px;
  }
  .product-page__arrow-next {
    right: -94px;
  }

  .product-page__main-img {
    width: 409px;
    height: 409px;
    margin-bottom: 64px;
  }

  .product-page__list-img {
    max-width: 741px;
  }

  .product-page__small-img {
    width: 129px;
    height: 129px;
    flex: 0 0 129px;

    &:not(:last-child) {
      margin-right: 24px;
    }

    &:last-child,
    &:first-child,
    &:nth-child(7) {
      opacity: 1;
      width: 129px;
      height: 129px;
      flex: 0 0 129px;
    }
  }
}

.pre-order {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  &._open {
    display: flex;
  }

  // .pre-order__popup

  &__popup-form {
    padding: 80px 75px;
    background-color: var(--white);
    border-radius: 10px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    margin-top: 118px;
    display: none;

    &._open {
      display: flex;
    }

    @media (max-width: 600px) {
      padding: 80px 30px;
    }

    @media (max-width: 479px) {
      ьmargin-top: 87px;
    }

    @media (max-width: 390px) {
      width: 100%;
      max-width: 390px;
    }
  }

  // .pre-order__close

  &__close {
    position: absolute;
    top: 24px;
    right: 24px;
    font-size: 20px;
    color: var(--black-3);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // .pre-order__title

  &__title {
    color: var(--black-2);
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 32px;
  }

  // .pre-order__form

  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 24px;
  }

  // .pre-order__counter

  &__counter {
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .counter {
      justify-content: flex-start;
    }

    .counter__value {
      margin: 0 8px;
      input {
        width: inherit;
        padding: 11px 3px;
        text-align: center;
      }
    }
  }

  // .pre-order__label

  &__label {
    color: var(--grey);
    font-size: 14px;
    letter-spacing: 0.14px;
    margin-bottom: 8px;
  }

  // .pre-order__inputs-area

  &__inputs-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 8px;
    margin-bottom: 48px;
  }

  // .pre-order__input

  &__input {
    border-radius: 5px;
    border: 1px solid var(--grey);
    padding: 16px 12px;
    color: var(--grey);
    font-size: 14px;
    letter-spacing: 0.14px;
    min-width: 282px;

    @media (max-width: 390px) {
      min-width: 230px;
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  // .pre-order__btn

  &__btn {
    align-self: center;
  }

  &__popup-complete {
    border-radius: 10px;
    background: var(--White-1, #f5f5f5);
    box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.07);
    margin: 304px auto 0 auto;
    padding: 64px;
    position: relative;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 516px;

    &._open {
      display: flex;
    }

    @media (max-width: 767px) {
      padding: 40px;
      max-width: 516px;
      width: 90vw;
      margin-top: 179px;
    }
    @media (max-width: 479px) {
      padding: 24px;
    }
  }

  // .pre-order__text

  &__text {
    color: var(--grey);
    font-size: 14px;
    letter-spacing: 0.14px;

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    &._black {
      font-size: 15px;
      color: var(--black-2);
      font-weight: 600;
    }

    ._red {
      color: var(--red);
    }
  }

  // .pre-order__number

  &__number {
    color: var(--blue);
  }
}

.product-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1111;
  display: none;
  // .product-sticky__row

  &._sticky {
    display: block;
  }

  &__row {
    background-color: var(--white-3);
    padding: 24px 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 992px) {
      display: none;
    }
  }

  // .product-sticky__content

  &__content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-right: 8px;
    margin-right: 8px;
  }

  // .product-sticky__img

  &__img {
    width: 63px;
    height: 63px;
    margin-right: 24px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // .product-sticky__info

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 14px;
    letter-spacing: 0.14px;
  }

  // .product-sticky__title

  &__title {
  }

  // .product-sticky__article

  &__article {
    color: var(--grey);
  }

  // .product-sticky__purchase

  &__purchase {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    flex: 1 0 auto;
  }

  // .product-sticky__price

  &__price {
    .price-card__new {
      color: var(--red);
    }
  }

  // .product-sticky__status

  &__status {
    margin-left: 24px;
    margin-bottom: 3.5px;
  }

  // .product-sticky__btn

  &__btn {
    margin-left: 24px;
  }
}

.same,
.also {
  .block-section__items_collapse::after {
    display: none;
    @media (max-width: 992px) {
      display: block;
    }
  }

  .expand-btn_collapse {
    display: none;
    @media (max-width: 992px) {
      display: block;
    }
  }
}
